body {
    display: flex;
    flex-direction: column;
}


/*.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    font-size: large;
    color:rgb(109, 0, 0);
    background-color: plum;
    padding: 15px;
}*/